# Important Note!
These notebooks are a part of the data resources I used in my training program, 'Python For Finance Nanodegree', wherein I train students in the fundamentals of using Python to analyze and understand financial data.

Not to bragðŸ˜…, but some of my students have in fact gone on to pursue highly rewarding careers in techno-finance after my program.

Do feel free to hit me up for any doubts. Would love to help!
<br><br>
**Visit**: [Python For Finance Nanodegree](https://python.jobaaj.com/)<br>
**Email**: contact@jobaaj.com<br>
**Contact**: +91 73035 12500<br>

# Fetching Financial Data using Pandas DataReader

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import cufflinks as cf
from pandas_datareader import data

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/opt/conda/lib/python3.7/site-packages/geopandas/_compat.py:115: UserWarning:

The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

## Defining the Start and End Date

In [2]:
start="2005-01-01"
end="2022-01-01"

## Defining the Ticker

In [3]:
ticker="TTM"

## using Pandas_Datareader to fetch the Data
DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.1, session=None, api_key=None)
Imports data from a number of online sources.

In [4]:
df=data.DataReader(name=ticker,data_source="yahoo")

In [5]:
df

                 High        Low       Open      Close   Volume  Adj Close
Date
2017-07-10  34.560001  33.980000  34.139999  34.439999  1693900  34.439999
2017-07-11  35.189999  34.700001  34.939999  34.889999  1401700  34.889999
2017-07-12  35.689999  35.099998  35.150002  35.549999  1204300  35.549999
2017-07-13  35.410000  35.099998  35.380001  35.360001   731000  35.360001
2017-07-14  35.430000  34.869999  35.090000  35.360001   812700  35.360001
...               ...        ...        ...        ...      ...        ...
2022-06-30  25.980000  25.450001  25.740000  25.870001   952600  25.870001
2022-07-01  26.330000  25.840000  25.850000  26.320000   469600  26.320000
2022-07-05  26.150000  25.320000  25.650000  26.139999   841600  26.139999
2022-07-06  26.570000  26.129999  26.180000  26.420000   623700  26.420000
2022-07-07  27.879999  27.200001  27.200001  27.700001   715700  27.700001

[1258 rows x 6 columns]

In [6]:
df1=data.DataReader(name=ticker,data_source="yahoo",start=start,end=end)

In [7]:
df1

                 High        Low       Open      Close     Volume  Adj Close
Date
2005-01-03  12.250000  12.000000  12.220000  12.060000   314900.0  10.217473
2005-01-04  12.050000  11.760000  12.000000  11.780000   273400.0   9.980251
2005-01-05  11.580000  11.270000  11.580000  11.340000   362600.0   9.607475
2005-01-06  11.290000  11.040000  11.290000  11.100000   243900.0   9.404141
2005-01-07  11.330000  11.160000  11.250000  11.300000    65300.0   9.573586
...               ...        ...        ...        ...        ...        ...
2021-12-27  31.790001  31.160000  31.190001  31.780001   678100.0  31.780001
2021-12-28  32.080002  31.600000  32.080002  31.719999  2110400.0  31.719999
2021-12-29  31.660000  31.450001  31.600000  31.549999   346900.0  31.549999
2021-12-30  31.660000  31.309999  31.530001  31.330000   481700.0  31.330000
2021-12-31  32.369999  32.049999  32.180000  32.090000   508400.0  32.090000

[4280 rows x 6 columns]

In [8]:
df2=data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)

In [9]:
df2

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2005-01-03,1.162679,1.117857,1.156786,1.130179,6.919920e+08,0.966323
2005-01-04,1.169107,1.124464,1.139107,1.141786,1.096810e+09,0.976248
2005-01-05,1.165179,1.143750,1.151071,1.151786,6.804336e+08,0.984798
2005-01-06,1.159107,1.130893,1.154821,1.152679,7.055552e+08,0.985561
2005-01-07,1.243393,1.156250,1.160714,1.236607,2.227450e+09,1.057321
...,...,...,...,...,...,...
2021-12-27,180.419998,177.070007,177.089996,180.330002,7.491960e+07,179.836319
2021-12-28,181.330002,178.529999,180.160004,179.289993,7.914430e+07,178.799164
2021-12-29,180.630005,178.139999,179.330002,179.380005,6.234890e+07,178.888916
2021-12-30,180.570007,178.089996,179.470001,178.199997,5.977300e+07,177.712143
2021-12-31,179.229996,177.259995,178.089996,177.570007,6.406230e+07,177.083878

## Defining multiple Tickers in a list

In [10]:
tickers=["TTM","TCS.NS","RELIANCE.NS","BHARTIARTL.NS"]

In [11]:
df3=data.DataReader(name=tickers,data_source="yahoo",start=start,end=end)

In [12]:
df3

Attributes  Adj Close                                              Close  \
Symbols           TTM       TCS.NS  RELIANCE.NS BHARTIARTL.NS        TTM
Date
2005-01-03  10.217473   124.806839    72.612511     98.686699  12.060000
2005-01-04   9.980251   123.700066    70.930222     97.735710  11.780000
2005-01-05   9.607473   122.200455    70.756645     90.927498  11.340000
2005-01-06   9.404142   121.781754    70.255966     91.294914  11.100000
2005-01-07   9.573586   123.580185    72.398888     90.841042  11.300000
...               ...          ...          ...           ...        ...
2021-12-27  31.780001  3664.929443  2370.250000    675.750000  31.780001
2021-12-28  31.719999  3675.291504  2398.399902    680.049988  31.719999
2021-12-29  31.549999  3663.541260  2402.500000    676.849976  31.549999
2021-12-30  31.330000  3702.261963  2359.100098    679.349976  31.330000
2021-12-31  32.090000  3706.823486  2368.149902    683.799988  32.090000

Attributes                                               High               \
Symbols          TCS.NS  RELIANCE.NS BHARTIARTL.NS        TTM       TCS.NS
Date
2005-01-03   169.157501    84.147812    104.810059  12.250000   169.587494
2005-01-04   167.657501    82.198265    103.800064  12.050000   169.250000
2005-01-05   165.625000    81.997124     96.569412  11.580000   167.524994
2005-01-06   165.057495    81.416901     96.959633  11.290000   168.250000
2005-01-07   167.494995    83.900253     96.477592  11.330000   168.125000
...                 ...          ...           ...        ...          ...
2021-12-27  3696.100098  2370.250000    675.750000  31.790001  3700.000000
2021-12-28  3706.550049  2398.399902    680.049988  32.080002  3725.000000
2021-12-29  3694.699951  2402.500000    676.849976  31.660000  3719.949951
2021-12-30  3733.750000  2359.100098    679.349976  31.660000  3740.000000
2021-12-31  3738.350098  2368.149902    683.799988  32.369999  3760.000000

Attributes  ...          Low                     Open               \
Symbols     ...  RELIANCE.NS BHARTIARTL.NS        TTM       TCS.NS
Date        ...
2005-01-03  ...    82.592819     99.851898  12.220000   166.932495
2005-01-04  ...    81.942963    100.999619  12.000000   168.750000
2005-01-05  ...    79.861900     93.677147  11.580000   167.524994
2005-01-06  ...    80.805733     96.271004  11.290000   165.000000
2005-01-07  ...    81.625778     91.588295  11.250000   166.250000
...         ...          ...           ...        ...          ...
2021-12-27  ...  2348.100098    668.650024  31.190001  3671.000000
2021-12-28  ...  2373.050049    675.049988  32.080002  3710.000000
2021-12-29  ...  2382.100098    675.000000  31.600000  3692.250000
2021-12-30  ...  2345.600098    674.200012  31.530001  3681.350098
2021-12-31  ...  2360.000000    680.000000  32.180000  3742.800049

Attributes                                Volume                         \
Symbols     RELIANCE.NS BHARTIARTL.NS        TTM     TCS.NS RELIANCE.NS
Date
2005-01-03    83.459282    100.310989   314900.0  4734168.0  44391146.0
2005-01-04    85.099380    105.590515   273400.0  4979104.0  33984747.0
2005-01-05    81.385956    104.167336   362600.0  9604320.0  51895844.0
2005-01-06    81.695404     98.704170   243900.0  8006888.0  42447893.0
2005-01-07    82.778488     98.245087    65300.0  7623136.0  49904274.0
...                 ...           ...        ...        ...         ...
2021-12-27  2361.550049    674.950012   678100.0  1534135.0   1853948.0
2021-12-28  2375.600098    679.849976  2110400.0  1456218.0   2941883.0
2021-12-29  2391.000000    679.950012   346900.0  1456923.0   7118779.0
2021-12-30  2400.000000    677.500000   481700.0  1966475.0  13537254.0
2021-12-31  2373.000000    680.500000   508400.0  1207141.0   4373768.0

Attributes
Symbols    BHARTIARTL.NS
Date
2005-01-03     4541997.0
2005-01-04     5824733.0
2005-01-05    10862338.0
2005-01-06    11895464.0
2005-01-07    11096460.0
...                  ...
2021-12-27     3658572.0
2021-12-28     3892590.0
2021-12-29     3847574.0
2021-12-30     5701612.0
2021-12-31     4598628.0

[4401 rows x 24 columns]

In [13]:
df3.to_csv("all.csv")